<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Client Front End</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap.min.js"></script>
	<script src="/js/full/app.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
	<div class="container-fluid">
		<nav class="navigation-bar" ng-controller="navCtrl">
			<ul class="topnav" ng-class="{ 'responsive': small }">
				<li class="icon">
					<a href="javascript:void(0);" ng-click="showLinks()">&#9776;</a>
				</li>
				<li><a href="#/">HOME</a></li>
				<li><a href="#/shop">SHOP</a></li>
				<li><a href="#/donations">DONATE</a></li>
				<li><a href="#/volunteers">VOLUNTEER</a></li>
				<li><a href="#/news">NEWS</a></li>
			</ul>
		</nav>
		<header class="bike-image">
			<img class="logo" src="/static/img/logo.jpg">
			<h3>Mission Statement</h3>
			<p>Since our founding in 2009, Good Karma Bikes’ mission has been to provide a path for transition age youth (18-26), and low-income individuals to gain self-confidence, work readiness, and an entry to college using a bike shop as a medium, providing both reliable, inexpensive form of transportation, and a platform from which to offer job training.</p>
			<p>Good Karma Bikes approaches a variety of community problems through a unique business enterprise, that continues to demonstrate that our service model is cost efficient and effective, as well as environmentally sound.  
</p>
			<div class="triangle-up"></div>
		</header>
		<div ng-view></div>
		<footer id="footer" ng-controller="footerCtrl">
			<div class="row">
				<div class="col-md-6">
					<h4><strong>LOCATION</strong></h4>
					<br>
					<p>460 LINCOLN AVENUE</p>
					<p>SUITE 15</p>
					<p>SAN JOSE, CA 95126</p>
					<p>(408) 291-0501</p>
					<br>
					<h4><strong>GKB RETAIL SHOP HOURS</strong></h4>
					<p>TUESDAY - FRIDAY</p>
					<p>2PM - 6PM</p>
					<br>
					<p><b>SATURDAY</b></p>
					<p>10AM - 5PM</p>
					<p>SERVICE CLOSES AT 4PM</p>
					<br>
					<p><b>SUNDAY</b></p>
					<p>11AM - 3PM</p>
				</div>
				<div class="col-md-6 footer-links-wrapper">
					<section class="social-media-bubble">
						<a href="#"><img class="social-media-icons rotate" src="/static/img/facebook.png" alt="facebook icon"></a>
						<a href="#"><img class="social-media-icons rotate" src="/static/img/twitter.png" alt="twitter icon"></a>
						<a href="#"><img class="social-media-icons rotate" src="/static/img/email.png" alt="email icon"></a>
					</section>
					<ul class="footer-list">	
						<li class="footer-links"><a href="#/">ABOUT US</a></li>
						<li class="footer-links"><a href="#/careers">CAREERS</a></li>
						<li class="footer-links"><a href="#/news">NEWS</a></li>
						<li class="footer-links"><a href="#/faq">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" id="subscribe">
					<h4><strong>SUBSCRIBE TO OUR MAILING LIST</strong></h4>
					<form role="form">
					    <div class="form-group">
					      	<input type="email" class="form-control footer-email-input" ng-model="newSubscriber.email" placeholder="Email Address">
					      	<button class="btn btn-danger" ng-click="create()">Submit</button>
					    </div>
					</form>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>