<div class="content-container">
  <div class="col-sm-offset-9 new-content-btn">
    <button type="button" class="btn btn-success" ng-click="openNewBikeForm()">Add Bikes</button>
  </div>
  <uib-accordion class="accordians" close-others="oneAtATime">
    <uib-accordion-group ng-repeat="bikesPost in allBikes.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))| orderBy: 'created_at':true">
      <uib-accordion-heading>
        {{bikesPost.created_at | date : 'M/dd/yyyy - hh:mm a' : timezone}} &nbsp&nbsp - &nbsp&nbsp <b>{{bikesPost.title}}</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
      </uib-accordion-heading>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Title:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.title'>
        </div>
        <div class="form-group">
          <label>Price:</label>
          <input type="number" class="input form-control" ng-model='bikesPost.price' valid-number>
        </div>
        <div class="form-group">
          <label>Caption:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.caption'>
        </div>
        <div class="form-group">
          <label>Color:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.color'>
        </div>
        <div class="form-group">
          <label>Brand:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.brand'>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Picture:</label>
          <a href="{{bikesPost.url}}">{{bikesPost.url}}</a>
        </div>
      </div>
    </div>

      <div class="btn-container row">
        <div class="col-sm-7 col-sm-offset-1">
          <button type="button" class="btn btn-danger" ng-click='openRemoveConfirm(bikesPost)'>Remove</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <button type="button" class="btn btn-success" ng-click="change(bikesPost.title,bikesPost.price, bikesPost.url,bikesPost.caption,bikesPost.color, bikesPost.brand,'bikes',bikesPost.id)">Save</button>
        </div>
      </div>
    </div>

    </uib-accordion-group>
  </uib-accordion>
<div>
  <uib-pagination class="pagination" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
</div>

