<div class="container">
	<div id="box-section">
		<a href="https://secure.qgiv.com/for/gkb">
			<div class="donateboxes" id="donor_decides">
				<h3>You Decide</h3>
				<p>Your donation is greatly appreciated.
				</p>
			</div>
		</a>
		<a href="https://secure.qgiv.com/for/gkb">
			<div class="donateboxes" id="sponsor_bicycle">
				<h3>$50</h3>
				<p>Sponsor One Bicycle
				</p>
			</div>
		</a>
		<a href="https://secure.qgiv.com/for/gkb">
			<div id="sponsor_mechanic" class="donateboxes">
				<h3>$275</h3>
				<p>Sponsor One Mechanic
				</p>
			</div>
		</a>
		<a href="https://secure.qgiv.com/for/gkb">
			<div class="donateboxes" id="sponsor_workstation">
				<h3>$1500</h3>
				<p>Sponsor One Workstation
				</p>
			</div>
		</a>
	</div>
	<div class="donations_accepted">
		<h3>We Gladly Accept In-Kind Donations  
During Shop Hours</h3>
		<ul>
			<li>Paper Products (Hot & Cold Cups, Plates, Towels, Napkins)</li>
			<li>Office Supplies (Printer Paper, Folders)</li>
			<li>Used Bicycles In  Refurbishable Condition*</li>
			<li>Tools</li>
			<li>Gently Used Parts</li>
			<li>Like-New Accessories* (Lights, Helmets, Etc.)</li>
		</ul>
		<p>*Unfortunately, Department Store Bikes Aren't Always Refurbishable. They Are Often Made With Lower Quality Parts That Have  Limited Life Span And Cannot Be Replaced Or Repaired With The Assurance Of Bike Safety. We Gladly Accept These In Like-New Condition.</p>
	</div>
	<button id="btn-donate"><a href="https://secure.qgiv.com/for/gkb">Go To Secure Donation</a></button>
	
	<div class="amazon-section">
		<a href="https://smile.amazon.com/ch/27-1552370">
			<div class="amazon-textarea">
				<h3>Support<br>Good Karma Bikes</h3>
				<p>When you shop at <span id="bold">smile.amazon.com</span>, Amazon donates.</p>
			</div>	
		</a>
	</div>
	

	
</div>