<div class="container">
	<div class="donatecontent">
		<div class="donateboxes">
			<h3>$50</h3>
			<p>We reinvest the money we make in our full-service bike shop into our programs that support our community.
			</p>
		</div>
		<div class="donateboxes">
			<h3>$275</h3>
			<p>Targeted toward low-income individuals who cannot afford a bicycle, this provide provides a free bicycle in exchange for six volunteer hours.
			</p>
		</div>
		<div class="donateboxes">
			<h3>$1500</h3>
			<p>For $50, community members can sponsor a bicycle in our work-4-program.
			</p>
		</div>
	</div>	
</div>