<div class="container">
<div class="shop-wrapper" id="gkbpolicy">
	<h3>GKB Return Policy</h3>
	<img src="/static/img/hr_leafy_Ardy.jpg">
	<p>Our goal is for you to be completely satisfied with your purchase from Good Karma Bikes. If you receive an item you are dissatisfied with you may return it for a refund, exchange, or store credit based on the following guidelines.</p>
	<h5>Forms of payment:</h5>
	<p>We accept cash. We also accept checks, credit cards, debit cards and traveler's checks with proper ID.<br> There is a $250 limit on purchases made with a check. <br> All returned checks will incur a $30 processing fee.</p>
	<h5>Your original receipt is required for all returns and exchanges.</h5>
	<p>All returns and exchanges must be in original condition and include all accessories, manuals, and original packing materials.</p>
	<h5>30-day return period for refunds:</h5>
	<p>We accept returns for a full refund for up to 30 days from the date of the original purchase. Please review the exceptions below.</p>
	<ol>
		<li>90-day return period for exchanges or store credit:
 	We accept returns for an exchange or store credit for up to 90 days from the date of the original purchase.</li>
		<li>No returns after 90 days.</li>
	</ol>
</div>
</div>