<div class="container">
<div class="shop-wrapper" id="gkbwarranty">
	<h3>GKB  Warranty</h3>
	<img src="/static/img/hr_leafy_Ardy.jpg">
	<h5 style="font-weight:bold;">Thank you for your bicycle purchase with Good Karma Bikes. You have purchased a used bicycle that has been refurbished with a 30+ point inspection, tune-up, and any necessary parts to insure great operation.</h5>
	<h5>* With GKB’s warranty, you can rest assured you are getting a safe, reliable used bicycle.</h5>
	<h4>90 Day Limited Used Bicycle Warranty*</h4>
</div>
</div>