<h1 class="text-center" id="iamh1">LEARN HOW TO...</h1>
<div id="iamgroup">
	<div class="iam" class="col-md-3">
		<a href="#/donations"><i class="fa fa-usd fa-5x" aria-hidden="true" class="iamicons"></i><br>
		DONATE</a>
	</div>
	<div class="iam" class="col-md-3">
		<a href="#/shop"><i class="fa fa-bicycle fa-5x" aria-hidden="true" class="iamicons"></i><br>
		SHOP</a>
	</div>
	<div class="iam" class="col-md-3">
		<a href="#/volunteers"><i class="fa fa-globe fa-5x" aria-hidden="true" class="iamicons"></i><br>
		VOLUNTEER</a>
	</div>
	<div class="iam" class="col-md-3">
		<a href=""><i class="fa fa-users fa-5x" aria-hidden="true" class="iamicons"></i><br>
		PARTICIPATE</a>
	</div>
</div>
<div class="announcements">
	<div class="announcements-paragraph">
		<h1>ANNOUNCEMENTS</h1>
		<p>Brian is an awesome human being.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit. Ut sit amet consectetur mi. Etiam quis velit at ligula pharetra facilisis sed eu sapien. Donec ac posuere velit. Donec mollis libero orci, ut rutrum ipsum blandit quis. Mauris vitae arcu lorem. Aliquam at sodales lacus. In lorem tortor, varius eu laoreet at, mollis in eros. Vestibulum vel ex in diam venenatis scelerisque euismod eu enim.
		</p>
	</div>
	<div class="triangle-up">
	</div>
</div>
<div id="newsgroup">
	<h1>RECENT NEWS</h1>
	<div class="newsboxes">
		<img src="/static/img/trikes.jpg">
		<h3>Trikes are Bikes, too!</h3>
		<h4>May 3, 2016</h4>
		<p>Brian is an awesome human being.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
		</p>
		<a href=""><h4>Link to news article</h4></a>
	</div>
	<div class="newsboxes" style="margin-left: 200px;">
		<img src="/static/img/kids.jpg">
		<h3>Dangerous Riding</h3>
		<h4>May 4, 2016</h4>
		<p>Erin is an awesome human being.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
		</p>
		<a href=""><h4>Link to news article</h4></a>
	</div>
</div>
<div id="newsgroup">
	<div class="newsboxes">
		<img src="/static/img/cray.jpg">
		<h3>Future Bikes of the Past</h3>
		<h4>April 30, 2016</h4>
		<p>Brian is an awesome human being.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
		</p>
		<a href=""><h4>Link to news article</h4></a>
	</div>
	<div class="newsboxes" style="margin-left: 200px;">
		<img src="/static/img/wood.jpg">
		<h3>Wooden Bikes</h3>
		<h4>April 24, 2016</h4>
		<p>Erin is an awesome human being.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
		</p>
		<a href=""><h4>Link to news article</h4></a>
	</div>
</div>





















