<h1 style="text-align: center;">I AM A...</h1>
<div id="iamgroup" class="col-md-12">
	<div class="iam" class="col-md-3">
		<a href="#/donations"><i class="fa fa-usd fa-5x" aria-hidden="true" class="iamicons"></i><br>
		DONOR</a>
	</div>
	<div class="iam" class="col-md-3" style="border-left: 2px solid black;">
		<a href="#/shop"><i class="fa fa-bicycle fa-5x" aria-hidden="true" class="iamicons"></i><br>
		CUSTOMER</a>
	</div>
	<div class="iam" class="col-md-3" style="border-left: 2px solid black;">
		<a href="#/volunteers"><i class="fa fa-globe fa-5x" aria-hidden="true" class="iamicons"></i><br>
		VOLUNTEER</a>
	</div>
	<div class="iam" class="col-md-3" style="border-left: 2px solid black;">
		<a href=""><i class="fa fa-users fa-5x" aria-hidden="true" class="iamicons"></i><br>
		CLIENTS</a>
	</div>
</div>