
<header class="bike-image">
	<img class="logo" src="/static/img/logo.jpg">
	<h3 style="text-align: center;">Mission Statement</h3>
	<div class="mission-text">
		<p>Since our founding in 2009, Good Karma Bikes’ mission has been to provide a path for transition age youth (18-26), and low-income individuals to gain self-confidence, work readiness, and an entry to college using a bike shop as a medium, providing both reliable, inexpensive form of transportation, and a platform from which to offer job training.</p>
		<p>Good Karma Bikes approaches a variety of community problems through a unique business enterprise, that continues to demonstrate that our service model is cost efficient and effective, as well as environmentally sound.  
		</p>
	</div>
	<div class="triangle-up"></div>
</header>

<div class="mission-text">
<h3>Mission Statement</h3>
	<p>Since our founding in 2009, Good Karma Bikes’ mission has been to provide a path for transition age youth (18-26), and low-income individuals to gain self-confidence, work readiness, and an entry to college using a bike shop as a medium, providing both reliable, inexpensive form of transportation, and a platform from which to offer job training.</p>
	<p>Good Karma Bikes approaches a variety of community problems through a unique business enterprise, that continues to demonstrate that our service model is cost efficient and effective, as well as environmentally sound.  
	</p>
</div>

<h1 class="text-center" id="iamh1">LEARN HOW TO...</h1>
<div id="iamgroup">
	<div class="iam" class="col-md-3">
		<a href="#/donations"><i class="fa fa-usd fa-5x" aria-hidden="true" class="iamicons"></i><br>
		DONATE</a>
	</div>
	<div class="iam" class="col-md-3">
		<a href="#/shop"><i class="fa fa-bicycle fa-5x" aria-hidden="true" class="iamicons"></i><br>
		SHOP</a>
	</div>
	<div class="iam" class="col-md-3">
		<a href="#/volunteers"><i class="fa fa-globe fa-5x" aria-hidden="true" class="iamicons"></i><br>
		VOLUNTEER</a>
	</div>
	<div class="iam" class="col-md-3">
		<a href=""><i class="fa fa-users fa-5x" aria-hidden="true" class="iamicons"></i><br>
		PARTICIPATE</a>
	</div>
</div>
<div class="announcements">
	<div class="announcements-paragraph">
		<h1>ANNOUNCEMENTS</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit. Ut sit amet consectetur mi. Etiam quis velit at ligula pharetra facilisis sed eu sapien. Donec ac posuere velit. Donec mollis libero orci, ut rutrum ipsum blandit quis. Mauris vitae arcu lorem. Aliquam at sodales lacus. In lorem tortor, varius eu laoreet at, mollis in eros. Vestibulum vel ex in diam venenatis scelerisque euismod eu enim.
		</p>
	</div>
	<div class="triangle-up">
	</div>
</div>
<div id="news-wrapper">
	<div class="newsgroup">
		<h1>RECENT NEWS</h1>
		<div class="newsboxes">
			<img src="/static/img/trikes.jpg">
			<h3>Trikes are Bikes, too!</h3>
			<h4>May 3, 2016</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
			</p>
			<h4><a href="">Link to news article</a></h4>
		</div><div class="newsboxes">
			<img src="/static/img/kids.jpg">
			<h3>Dangerous Riding</h3>
			<h4>May 4, 2016</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
			</p>
			<h4><a href="">Link to news article</a></h4>
		</div>
	</div>
	<div class="newsgroup">
		<div class="newsboxes">
			<img src="/static/img/cray.jpg">
			<h3>Future Bikes of the Past</h3>
			<h4>April 30, 2016</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
			</p>
			<h4><a href="">Link to news article</a></h4>
		</div><div class="newsboxes">
			<img src="/static/img/wood.jpg">
			<h3>Wooden Bikes</h3>
			<h4>April 24, 2016</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed euismod augue. Ut sit amet quam diam. Duis auctor turpis sit amet nulla porta congue. Quisque a consequat dolor. Nam urna leo, efficitur sed eleifend vel, malesuada vitae felis. Sed in pulvinar arcu. Etiam sit amet augue nunc. Fusce accumsan sed dui id hendrerit.
			</p>
			<h4><a href="">Link to news article</a></h4>
		</div>
		<h1 class="all-news"><a href="">ALL NEWS</a></h1>
	</div>
</div>
<div class="community">
	<h1>COMMUNITY PROGRAMS</h1>
	<h2>1:1</h3>
	<h3>For each bike sold, we provide one bike or service for free.</h3>
	<h4>Good Karma Bikes rehabilitates bicycles destined for landfill and transforms them into reliable and clean transportation. These same bicycles set the foundation for our community programming include:</h4>
	<div class="communitycontent">
		<div class="communityboxes">
			<div class="img-community" id="transport"></div>
			<h3>Transportation for Transformation</h3>
			<p>We reinvest the money we make in our full-service bike shop into our programs that support our community.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="work4bikes"></div>
			<h3>Work-4-Bike</h3>
			<p>Targeted toward low-income individuals who cannot afford a bicycle, this provide provides a free bicycle in exchange for six volunteer hours.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="sponsor-bike"></div>
			<h3>Sponsor-a-Bike</h3>
			<p>For $50, community members can sponsor a bicycle in our work-4-program.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="saturday-clinic"></div>
			<h3>Saturday Clinic</h3>
			<p>A free, weekly bicycle repair clinic led by a group of dedicated volunteers, in which unsafe bicycles are repaired for community members.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="tools"></div>
			<h3>Park Tool School</h3>
			<p>A one-month certification course in which participants learn cycling and bicycle mechanics.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="karmakids"></div>
			<h3>Good Karma Kids</h3>
			<p>Targeted toward at-risk youth, this program pairs youth with adult volunteers to learn cycling and bicycle mechanics, in addition to learning the value of philanthropy. 
			</p>
		</div>
	</div>
</div>