<div class="container">
<div id="shop-wrapper">
	<div class="shopgroup">
		<h1>SHOP NOW</h1>
		<h2>Seek. Find. Enjoy.</h2>
		<h3>"Grab those handlebars and LIVE life to the max. An adventure begins every time you get on the bike and out the door. GO!"</h3>
		<div class="shopboxes">
			<img src="/static/img/bike1a.jpg">
			<h4>Yellow Bike</h4>
			<h5>Color: Yellow</h5>
			<h5>Type: Bicycle</h5>
			<h5>$ 200.00</h5>			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1b.jpg">
			<h4>Raleigh Lightweight</h4>
			<h5>Color: Purple</h5>
			<h5>Type: Road bike</h5>
			<h5>$ 300.00</h5>	
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1c.jpg">
			<h4>Mongoose</h4>
			<h5>Color: Navy Blue</h5>
			<h5>Type: Mountain bike</h5>
			<h5>$ 100.00</h5>
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1d.jpg">
			<h4>Repco Challenger</h4>
			<h5>Color: Blue and Orange</h5>
			<h5>Type: Mountain bike</h5>
			<h5>$ 110.00</h5>		
		</div>
	</div>
	<div class="shopgroup">
		<div class="shopboxes">
			<img src="/static/img/bike1e.jpg">
			<h4>Raleigh Lightweight</h4>
			<h5>Color: Purple</h5>
			<h5>Type: Road bike</h5>
			<h5>$ 300.00</h5>		
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1f.jpg">
			<h4>Morrison Freeway</h4>
			<h5>Color: Blue</h5>
			<h5>Type: Roadbike</h5>
			<h5>$ 170.00</h5>		
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1g.jpg">
			<h4>Abeni 10 Speed</h4>
			<h5>Color: Yellow</h5>
			<h5>Type: Roadbike</h5>
			<h5>$ 210.00</h5>		
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1h.jpg">
			<h4>Funky Bike</h4>
			<h5>Color: Zebra Stripe</h5>
			<h5>Type: Roadbike</h5>
			<h5>$ 300.00</h5>			
		</div>
	</div>
	<div class="shopgroup">
		<h3>For more of our amazing bikes please visit eBay and craigslist!</h3>
		<h4>All the bikes you see on eBay and craigslist are displayed in our shop. 
			Come down today for a test ride!</h4>

		<div class="shopboxeslogo" id= "ebaylogo">
			<a href="http://members.ebay.com/ws/eBayISAPI.dll?ViewUserPage&amp;userid=goodkarmabikes" target="_blank"><img src="/static/img/ebay_logo.png"></a>
				
		</div>
		<div class="shopboxeslogo" id= "craigslistlogo">
			<a href="http://sfbay.craigslist.org/search/sss?query=good+karma+bikes" target="_blank">
			<img src="/static/img/craigslist_logo.png">

		</a>
		</div>
		<h4>GKB Is A Full-Service Bike Shop Open To The Public.  
			We Offer A Wide Variety Of Bicycles, Parts, And Accessories- New And Used! </h4>

		<h4>Our Service Department Is Experienced In Repairing All Types Of Bikes And 
			We Are Well Stocked With New And Used Parts.</h4>

	</div>	


	<div class="shopgroup">
		<div class="shopboxesinfo">
			<img src="/static/img/rowofgreenbikes.jpeg">
			<h3>How We Get Our Bikes</h3>
			<p>We receive donated bikes from shops, manufacturers, universities, public offices, and individuals just like you! We refurbish these bikes for resale and granting. For each bicycle sold, one is granted to someone in need.  
			</p>
			<br>		
		</div>
		<div class="shopboxesinfo">
			<img src="/static/img/pricebike.jpg">
			<h3>How We Price</h3>
			<p>GKB offers prices similar to those you will find online and in other second-hand bike shops, but we offer something they don’t… our low price includes all parts and labor needed to refurbish your bicycle.</p>
			<p>Visit <a target="_blank" href="https://www.facebook.com/GoodKarmaBikes">facebook&nbsp;</a> and <a target="_blank" href="https://twitter.com/goodkarmabikes">twitter</a> to see sales and specials!
			</p>		
		</div>
		<div class="shopgroup">
			<h2>GKB Warranty</h2>
			<iframe height="200" width="100%" src="http://www.scribd.com/embeds/310686279/content?access_key=key-Rvfbses08CGt2ArxpVnm&amp;jsapi=true&amp;xdm_e=http://www.goodkarmabikes.org&amp;xdm_c=default1&amp;xdm_p=1" id="" frameborder="0" style="border: 0px;"></iframe>
		</div>

		<div class="shopgroup">
			<h2>GKB Return Policy</h2>
			<iframe height="200" width="100%" src="http://www.scribd.com/embeds/310686049/content?access_key=key-JJeirJaTFbnylcaiOeLx&amp;jsapi=true&amp;xdm_e=http://www.goodkarmabikes.org&amp;xdm_c=default0&amp;xdm_p=1" id="" frameborder="0" style="border: 0px;"></iframe>
		</div>
	</div>	
	</div>
</div>
</div>