<div class="container">
<div id="shop-wrapper">
	<div class="shopgroup">
		<h1>SHOP NOW</h1>
		<h2>Seek. Find. Enjoy.</h2>
		<h3>"Grab those handlebars and LIVE life to the max. An adventure begins every time you get on the bike and out the door. GO!"</h3>
		<div class="shopboxes">
			<img src="/static/img/bike1a.jpg">
			<h4>Yellow Bike</h4>
			<h5>Color: Yellow</h5>
			<h5>Type: Bicycle</h5>
			<h5>$ 200.00</h5>
			<a href="" target="_blank">BUY</a>
			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1b.jpg">
			<h4>Raleigh Lightweight</h4>
			<h5>Color: Purple</h5>
			<h5>Type: Road bike</h5>
			<h5>$ 300.00</h5>
			<a href="" target="_blank">BUY</a>
			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1c.jpg">
			<h4>Mongoose</h4>
			<h5>Color: Navy Blue</h5>
			<h5>Type: Mountain bike</h5>
			<h5>$ 100.00</h5>
			<a href="" target="_blank">BUY</a>
			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1d.jpg">
			<h4>Repco Challenger</h4>
			<h5>Color: Blue and Orange</h5>
			<h5>Type: Mountain bike</h5>
			<h5>$ 110.00</h5>
			<a href="" target="_blank">BUY</a>			
		</div>
	</div>
	<div class="shopgroup">
		<div class="shopboxes">
			<img src="/static/img/bike1e.jpg">
			<h4>Raleigh Lightweight</h4>
			<h5>Color: Purple</h5>
			<h5>Type: Road bike</h5>
			<h5>$ 300.00</h5>
			<a href="" target="_blank">BUY</a>			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1f.jpg">
			<h4>Morrison Freeway</h4>
			<h5>Color: Blue</h5>
			<h5>Type: Roadbike</h5>
			<h5>$ 170.00</h5>
			<a href="" target="_blank">BUY</a>			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1g.jpg">
			<h4>Abeni 10 Speed</h4>
			<h5>Color: Yellow</h5>
			<h5>Type: Roadbike</h5>
			<h5>$ 210.00</h5>
			<a href="" target="_blank">BUY</a>			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1h.jpg">
			<h4>Funky Bike</h4>
			<h5>Color: Zebra Stripe</h5>
			<h5>Type: Roadbike</h5>
			<h5>$ 300.00</h5>
			<a href="" target="_blank">BUY</a>
			
		</div>
	</div>
	<div class="shopgroup">
		<div class="shopboxesprice">
			<img src="/static/img/cray.jpg">
			<h3>How We Get Our Bikes</h3>
			<p>We receive donated bikes from shops, manufacturers, universities, public offices, and individuals just like you! We refurbish these bikes for resale and granting. For each bicycle sold, one is granted to someone in need.  
			</p>		
		</div>
		<div class="shopboxesprice">
			<img src="/static/img/cray.jpg">
			<h3>How We Price</h3>
			<p>GKB offers prices similar to those you will find online and in other second-hand bike shops, but we offer something they don’t… our low price includes all parts and labor needed to refurbish your bicycle.
			</p>		
		</div>
	</div>	
	</div>
</div>
</div>