<div class="content-container">
  <div class="col-sm-offset-9 new-content-btn">
    <button type="button" class="btn btn-success" ng-click="openNewContentForm()">Add Announcements</button>
  </div>


<div cg-busy="{promise:prom ,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
<uib-accordion close-others="oneAtATime">
  <uib-accordion-group ng-repeat="newsPost in newsPosts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))| orderBy: 'created_at':true">
    <uib-accordion-heading>
      {{newsPost.created_at | date : 'M/dd/yyyy - hh:mm a' : timezone}} &nbsp&nbsp - &nbsp&nbsp <b>{{newsPost.title}}</b><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
    </uib-accordion-heading>
    {{newsPost}}
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="input form-control " ng-model='newsPost.title'>
    </div>
    <div ng-show="newsPost.url">
      <img src="{{newsPost.url}}" alt="" style="height:30em">
    </div>
    <div ng-hide="newsPost.url">
      <text-angular ng-model="newsPost.text"></text-angular>
    </div>
    <div class="btn-container row">
      <div class="col-sm-7 col-sm-offset-1">
        <button type="button" class="btn btn-danger" ng-click='openRemoveConfirm(newsPost)'>Remove</button>
      </div>
      <div class="col-sm-1 col-sm-offset-1">
        <button type="button" class="btn btn-success" ng-click="update(newsPost.title,newsPost.text,'news',newsPost.id)">Save</button>
      </div>
    </div>

    </uib-accordion-group>
  </uib-accordion>
</div>
<div>
  <uib-pagination class="paginationAnnounce" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></uib-pagination>
</div>