// Imports

// Importing the Lato font from Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// SASS variables
$main-fonts: 'Lato', sans-serif;
// Globals
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: $main-fonts;
	overflow: auto;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;

	li.icon {
		display: none;
	}

	li {
		float: left;

		a {
			display: inline-block;
			padding: 0.825em;
			text-decoration: none;
			color: black;
			text-align: center;
			transition: 0.3s;

			&:link, &:visited, &:hover, &:active {
				text-decoration: none;
			}
		}
	}
}
// Classes
.footer-links-wrapper {
	text-align: right;
}

.social-media-bubble {
	display: inline-block;
	width: 3em;
	height: 3em;
	margin: 1em 0;
	border-radius: 50%;
	background-color: black;
	padding: 0.5em 0.5em;
	text-align: center;

	.social-media-icons {
		color: white;
		margin: 0 auto;
		display: block !important;
		
	}
}

.navigation-bar {
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, 0.5);
}

.clear {
	clear: both;
}

.row {
	width: 100%;
}

.container-fluid {
	padding: 0;
	min-height: 100%;
}

.footer-list {
	list-style-type: none;
	padding: 0;
	text-align: right;
	
	li.footer-links {

		a {
			color: black;
	
			&:link, &:visited, &:hover, &:active {
				text-decoration: none;
			}
		}
	}
}
//homepage classes

.bike-image {
  
  width: 100%;
  height: 400px;
  
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(76, 187, 23, 0.45), 
      rgba(76, 187, 23, 0.45)
    ),
    /* bottom, image */
    url("../static/img/yellow_bike.jpeg");
}

// IDs
#wrapper {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	position: relative;
}

#footer {
	position: relative;
	clear:both;
	width: 100%;
	height: 100%;
	color: white;
	padding: 2em;
	border-top: 2px solid black;
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.45), 
			rgba(0, 0, 0, 0.45)
	    ),
		url('/static/img/handlebars.jpg') center center no-repeat;
	background-size: cover;
}
<<<<<<< HEAD
// IDs
=======
>>>>>>> 795397a76535502c95fc40d762d72304e304d9b5

// Media Queries
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). 
   Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {
	ul.topnav li{display: none;}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
}


/* The "responsive" class is added to the topnav with AngularJS when the user clicks on the icon. 
   This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
	ul.topnav.responsive {position: relative;}
	ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.topnav.responsive li {
		float: none;
		display: block;
	}
	ul.topnav.responsive li a {
		display: block;
		text-align: left;
	}
}