<div>
  <div class="modal-content">
    <div class="modal-header">
        <h4>Bike</h4>
    </div>
    <div class="modal-body">
      <form name="myForm">
        <div class="form-group">
          <label>Title:</label>
          <input class="form-control" name="bikesPost" ng-model='bikesPost.title' required>
        </div>
        <div class="form-group">
          <label>Price:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.price' required>
        </div>
        <div class="form-group">
          <label>Caption:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.caption' required>
        </div>
        <div class="form-group">
          <label>Color:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.color' required>
        </div>
        <div class="form-group">
          <label>Brand:</label>
          <input type="text" class="input form-control" ng-model='bikesPost.brand'>
        </div>

        <div class="btn-container row">
          <div class="col-sm-7 col-sm-offset-1">
            <button type="button" class="btn btn-danger btn-lg" ng-click='cancel()'>Cancel</button>
          </div>
          <div class="col-sm-1 col-sm-offset-1">
            <button type="button" class="btn btn-success btn-lg" ng-disabled="myForm.$invalid"  ng-click="ok()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
