<link rel="stylesheet" type="text/css" href="../stylesheets/announcements.css">
<div> 
  <div class="modal-content">
    <div class="modal-header">
        <h4>Annoucments</h4>
    </div>
    <div class="modal-body">
       Text 
       <button ng-click="test= 2"> Text</button>
       <button ng-click="test= 1">Image</button>


       <span ng-show="test==1">
       
        <form name="myForm">

        <div class="form-group">
        <label>Title:</label>
        <input name="newsPost" ng-model="newsPost.title" required>
        
        <i  ng-show='myForm.newsPost.$error.required'>Tilte is required </i>        
        </div>

        <div>



        <input type="file" ngf-select ng-model='file' name="file" required>
          {{progresss}}
        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progresss}}%" ng-bind="progress +'%' ">
          <span ng-show="file.result">Upload Successful</span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

          </div>
          
        </span>
        

        <button ng-disabled="!myForm.$valid" ng-click="ok(file)">Submit</button>


      <br>
      <br>
      <br>
      </div>  
      </form>
    </div>     
    </span>



      <span ng-show="test==2">
      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="input form-control" ng-model='newsPost.title'>
      </div>
      
      <text-angular ng-model="newsPost.text"></text-angular>

      <div class="btn-container row">
        <div class="col-sm-7 col-sm-offset-1">
          <button type="button" class="btn btn-danger btn-lg" ng-click='cancel()'>Cancel</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <button type="button" class="btn btn-primary btn-lg" ng-click="ok()">Save</button>     
        </div>
       </span>
        

       





      </div>
    </div>
  </div>
</div>
