<uib-accordion close-others="oneAtATime">
    
    <uib-accordion-group is-open="true">
      
        <uib-accordion-heading>
            header 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </uib-accordion-heading>
    
        <p>
           <strong>This</strong> content is straight in the template, and is initially expanded.
        </p>

    </uib-accordion-group>
    
    <uib-accordion-group>
      <uib-accordion-heading>
            header 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </uib-accordion-heading>
       <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare lobortis ipsum, vel dictum diam. Cras consectetur lorem non laoreet gravida. Aenean magna magna, accumsan et urna at, pellentesque ultrices nisi. 
      </p>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ornare lobortis ipsum, vel dictum diam. Cras consectetur lorem non laoreet gravida. Aenean magna magna, accumsan et urna at, pellentesque ultrices nisi. 
      </p>
      
    </uib-accordion-group>

    <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </uib-accordion-group>
    <uib-accordion-group heading="Dynamic Body Content">
      <p>The body of the uib-accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </uib-accordion-group>
    <uib-accordion-group is-open="isopen">
        <uib-accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        </uib-accordion-heading>
        <div ng-switch on="isopen">
          <div ng-switch-when="true">
            {{callMeWhenCompiled()}}
          </div>
        </div>
    </uib-accordion-group>
  </uib-accordion>

<div style="width: 600px; height: 300px;border:1px solid black">
    <ng-quill-editor name="editor1" callback="editorCallback(editor, name)" ng-model="message" translations="translations" toolbar="true" show-toolbar="showToolbar" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" required="" error-class="input-error"
    fontsize-options="fontsizeOptions" fontfamily-options="fontfamilyOptions"></ng-quill-editor>
</div>
