<div>
  <div class="modal-content">
    <div class="modal-header">
        <h4>{{data.title}}</h4>
    </div>
    <div class="modal-body">

      <!-- file upload here, added picture preview -->
      <input type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'image/*'" required="">
      <img ngf-src="picFile" id="thumb">

      <div class="form-group">
        <label>Title:</label>
        <input type="text" class="input form-control" ng-model='programsPost.title'>
        <label>Caption:</label>
        <input type="text" class="input form-control" ng-model='programsPost.caption'> 
      </div>

        <div class="btn-container row">
          <div class="col-sm-7 col-sm-offset-1">
            <button type="button" class="btn btn-danger btn-lg" ng-click='cancel()'>Cancel</button>
          </div>
          <div class="col-sm-1 col-sm-offset-1">
            <button type="button" class="btn btn-success btn-lg" ng-disabled="myForm.$invalid" ng-click="ok()">Save</button>
          </div>
        </div>
       </form>
      </div>
  </div>
</div>
