<label>Donor</label>
<input type="text" ng-model="bike.donor" /></p>
<label>Model</label>
<input type="text" ng-model="bike.model" /></p>
<label>Brand</label>
<input type="text" ng-model="bike.brand" /></p>
<label>Buyer</label>
<input type="text" ng-model="bike.buyer" /></p>
<label>Value</label>
<input type="text" ng-model="bike.value" /></p>
<label>Date Sold</label>
<input type="date" ng-model="bike.dateSold" /></p>
<label>Bar code</label>
<input type="text" ng-model="bike.barCode" /></p>
<label>Ebay</label>
<input type="text" ng-model="bike.ebay" /></p>
<button ng-click="createBike()">Create</button>
