<!-- <form action="https://gkbimages.s3-us-west-1.amazonaws.com" method="post" enctype="multipart/form-data">
    <input type="hidden" name="key" value="uploads/${filename}">
    <input type="hidden" name="AWSAccessKeyId" value="AKIAJX7RIBBITZNFZLDA"> 
       <input type="hidden" name="acl" value="private"> 
      <input type="hidden" name="success_action_redirect" value="http://localhost/">
    <input type="hidden" name="policy" value="eyJleHBpcmF0aW9uIjoiMjAxNi0wNS0yMFQwMToxNDo1OFoiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJna2JpbWFnZXMifSxbInN0YXJ0cy13aXRoIiwiJGtleSIsIiJdLHsiYWNsIjoicHVibGljLXJlYWQifSxbInN0YXJ0cy13aXRoIiwiJENvbnRlbnQtVHlwZSIsIiJdLFsic3RhcnRzLXdpdGgiLCIkZmlsZW5hbWUiLCIiXSxbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwwLDEwNDg1NzYwXV19">
    <input type="hidden" name="signature" value="C6bEGVPJ8ygcyjUbeGtVWqT7Hcw=">
    <input type="hidden" name="Content-Type" value="image/png">
    Include any additional input fields here

    File to upload to S3: 
    <input name="file" type="file"> 
    <br> 
    <input type="submit" value="Upload File to S3"> 
</form> -->

<!-- <form action="/bikes/test" method="post" enctype="multipart/form-data">
    <input type = 'hidden' name = "authenticity_token" value = "<%= form_authenticity_token %>">
    <input type="hidden" name="key" value="uploads/${filename}">
    <input type="hidden" name="AWSAccessKeyId" value="AKIAJX7RIBBITZNFZLDA">  -->
<!--       <input type="hidden" name="acl" value="private"> 
--><!--       <input type="hidden" name="success_action_redirect" value="http://localhost/">
    <input type="hidden" name="policy" value="eyJleHBpcmF0aW9uIjoiMjAxNi0wNS0yMFQwMToxNDo1OFoiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJna2JpbWFnZXMifSxbInN0YXJ0cy13aXRoIiwiJGtleSIsIiJdLHsiYWNsIjoicHVibGljLXJlYWQifSxbInN0YXJ0cy13aXRoIiwiJENvbnRlbnQtVHlwZSIsIiJdLFsic3RhcnRzLXdpdGgiLCIkZmlsZW5hbWUiLCIiXSxbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwwLDEwNDg1NzYwXV19">
    <input type="hidden" name="signature" value="C6bEGVPJ8ygcyjUbeGtVWqT7Hcw=">
    <input type="hidden" name="Content-Type" value="image/png"> -->
    <!-- Include any additional input fields here -->
<!-- 
    File to upload to S3: 
    <input name="file" type="file"> 
    <br> 
    <input type="submit" value="Upload File to S3"> 
</form> -->

<form>
    
</form>