@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,300,300italic,900italic');
/* Styling for html, body */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  overflow: auto; 
}

/* This is styling for the navigation bar */
ul.topnav {
  list-style-type: none;
  margin: 0 1em;
  padding: 0;
  float: right;
}

ul.topnav li.icon {
  display: none; }

ul.topnav li {
  float: left; 
}

ul.topnav li a {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.825em;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.3s; 
}

/* Here we have code for the different anchor tag states, this complete removes all instances of text-decoration */
ul.topnav li a:link, ul.topnav li a:visited, ul.topnav li a:hover, ul.topnav li a:active {
  text-decoration: none;
  color: white; 
}

/* These are stylings for the footer */
.footer-links-wrapper {
  text-align: right; 
}

.footer-email-input {
  width: 88%;
  display: inline-block;
  margin-right: 0.40em;
}

.social-media-bubble {
  margin-bottom: 1em;
  margin-right: -0.3em; 
}

.social-media-bubble .social-media-icons {
  margin: 0 0.3em;
  width: 3em;
  height: 3em;
  display: inline-block !important; 
  margin-right: -0.3em; }
  
.social-media-bubble .social-media-icons {
  margin: 0 0.3em;
  width: 3em;
  height: 3em;
  display: inline-block !important; 
}

.social-media-icons:hover {
  transform: rotate(360deg);
}

.rotate {
  transition: all 0.5s ease-in-out;
}

.rotate:hover {
  transition: all 0.8s ease-in-out;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  text-align: right; 
}

.footer-list li.footer-links {
  line-height: 2em; }

.footer-list li.footer-links a {
  color: white; }

.footer-list li.footer-links a:link, .footer-list li.footer-links a:visited, .footer-list li.footer-links a:hover, .footer-list li.footer-links a:active {
  text-decoration: none; }

/* This is the styling for the wrapper around the footer section */
#footer {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  color: white;
  padding: 2.5em;
  border-top: 2px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/static/img/handlebars.jpg") center center no-repeat;
  background-size: cover; }

/* This is the styling for the 'subscribe to mailing list' section */
#subscribe {
  display: block;
  float: none;
  padding: 1em;
  border-radius: 1em;
  width: 60%;
  margin: 0 auto;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.btn-subscribe {
  color: #fff;
  background-color: #179F59;
  border-color: #189f59;
}
/* End Subscribe To Mailing List Stylings */

/* Stylings for the navigation bar, including a class meant for making the bar 
   solid. However, JavaScript is refusing to cooperate. */
.navigation-bar {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 9999;
}

/* End Navigation Bar Stylings */

/* This is styling for the header and the navigation icons for the 'Learn How To' section */
.logo {
display: inline;
width: 150px;
height: 150px;
}

.iam {
  height: 7em;
  width: 10em;
  display: inline-block;
  font-size: 0.6em;
  vertical-align: top;
}

#iamh1 {
  color: #000035; 
  padding-top: 5%;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 300;
}

.iam a {
  text-decoration: none;
  color: #000035; 
  font-weight: 300;
}

.iam:not(:first-of-type) {
  border-left: .1em solid #000035;
}

#iamgroup {
  height: 10%;
  width: 100%;
  text-align: center;
  display: block;
}


.iam img {
  padding-bottom: .5em;
  width: 5em;
}

.clear {
  clear: both; 
}

header h3 {
  margin: 0;
  color: #000035;
  margin-top: 1em;
  text-align: center;
  
}

header p {
  width: 60%;
  color: #000035;
  font-size: 1.3em;
  margin: 1em auto;
  padding-bottom: 2em;
  text-align: justify;
}

.header-wrapper {
  width: 100%;
  height: 100%;
}
/* End Header Section */

/*  Some overrides for bootstrap stylings */
.row {
  width: 100%;
  margin: 0 auto; 
}

.container-fluid {
  padding: 0;
  width: 100%;
  min-height: 100%; 
}
/* End Bootstrap Overrides */

/* Stylings for the mission statement */
.bike-image {
  width: 100%;
  max-height: 60%;
  padding: 2em;
  background: linear-gradient(rgba(0, 158, 73, 0.85), rgba(0, 158, 73, 0.85)), url("/static/img/yellow_bike.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.bike-image h3 {
  font-weight: 200;
}

.mission-wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
  color: #000035;
  height: 100%;
  width: 100%;
}

.mission-wrapper .mission-text > h3 {
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  text-align: center;
}

.mission-wrapper .mission-text > p {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5em;
}

.mission-text {
  margin: 0 auto;
  text-align: center;

  width: 80%;
  font-style: italic;
  font-weight: 100;

  width: 80%;
  font-style: italic;
  font-weight: 100;
  text-align: justify;
  padding-bottom: 1.5em;
}

/* End Mission Statement Styling */

/* Styling for the little triangles on the homepage */
.triangle-up {
  padding-top: 5em;
  width: 0;
  height: 0;
  border-left: 4.5em solid transparent;
  border-right: 4.5em solid transparent;
  border-bottom: 5em solid white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* End Triangle Styling */

/* Stylings for the announcements section */
.announcements {
  width: 100%;
  height: 100%;
  padding-bottom: 20%;
  background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url("/static/img/row.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.announcements-paragraph {
  margin: 0 auto;
  width: 50%;
}

.announcements-paragraph h1 {
  padding-bottom: 5%;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: .16em;
  text-align: center;
}

.announcements-paragraph p {
  font-size: 1.5em;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 200;
}
/* End Announcements Section */

/* Styling for the news section on the homepage */
#news-wrapper {
  height: 100%;
  width: 100%;
}

.newsgroup {
  height: 50%;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 2em;
}

.newsgroup h1 {
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

.all-news {
  margin-bottom: 2em !important;
  margin-top: 0.5em !important;
}

.newsboxes:nth-of-type(2) {
  margin-left: 5em;
}

.newsboxes {
width: 35%;
height: 50%;
display: inline-block;
margin-bottom: 5%;
}

.newsboxes h4 {
  margin-top: 0.5em;
}

.newsboxes img {
width: 100%;
height: 21.5em;
display: inline-block;
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
/* End News Section */

/* Styling for the community programs section */
.community {
  width: 100%;
  height: 100%;
}

.community h4 {
  font-weight: 200;
/*  font-style: italic;*/
  color: white;
  width: 75%;
  text-align: center;
  margin: auto;
  margin-top: 5%;

}

.community h3 {
  color: white;
  font-weight: 200;
  margin-top: 2%;
  text-align: center;
  font-size: 1.5em;

}
.community h1 {
  font-size: 3em;
  color: white;
  font-weight: 200;
  letter-spacing: .16em;
  text-align: center;
  margin-bottom: 5%;
}

.community h2 {
  color: white;
  text-align: center;
  font-weight: 200;
}

.communitycontent {
  width: 100%;
/*  height: 50%;*/
  padding: 5% 0 0 5%;
}

.communityboxes {
  width: 40em;
  height: 40em;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  color: white;
  margin: auto;

}

.communityboxes h3 {
  text-align: center;
  font-weight: 300;
}

.communityboxes p {
  width: 60%;
  margin: auto;
  font-weight: 200;
  text-align: justify;
  margin-bottom: 4%;
}

/*.communityboxes:nth-child(2n) {
  margin-left: 5.52em;
}
*/

.img-community {
  width: 60%;
  height: 60%;
  margin: auto;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

#transport {
  background: url("/static/img/commute.jpeg") center center no-repeat;
  background-size: auto 100%;
  
}

#work4bikes {
  background: url("/static/img/smile.jpeg") center center no-repeat;
  background-size: auto 100%;

}

#sponsor-bike {
  background: url("/static/img/bike5.jpg") center center no-repeat;
  background-size: auto 100%;
}

#saturday-clinic {
  background: url("/static/img/gears.jpeg") center center no-repeat;
  background-size: auto 100%;

}

#tools {
  background: url("/static/img/tools.jpg") center center no-repeat;
  background-size: auto 100%;

}

#karmakids {
  background: url("/static/img/kids.jpg") center center no-repeat;

}

.community > p {
  margin: 0.5em auto;
  color: white;
  width: 50%;
  text-align: center;
}

.community > h3 {
  margin: 0.5em 0;
  color: white;
  text-align: center;
}

.community {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  background: linear-gradient(rgba(0, 158, 73, 0.85), rgba(0, 158, 73, 0.85)), url("/static/img/cray.jpg") center center no-repeat;
  background-size: cover;
  position: relative;
}
/* End Community Section */

/* Volunteer  Start */
.volgilistcs {
  display: inline;
  padding-right: 11%;
  padding-left: 11%;
  padding-top: 1%;
  padding-bottom: 3%;
  float: right;
}

d-expand-collapse {
  display: inline-block;
  vertical-align: top;
  padding: 2%;
  word-wrap: break-word;
  width: 45%;
}
.exp_col_title {
  text-align: center;
}

/* Volunteer  End*/

/* Shop  page Starts*/
#shop-wrapper {
  height: 100%;
  width: 100%;
}

.shopgroup {
  height: 50%;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-top: 2em;
}

.shopgroup h1 {
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 2em;
}
.shopgroup h3 {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
.shopgroup h4 {
  font-style: italic;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.shopboxes:nth-of-type(2) {
  margin-left: 5em;

}
.shopboxes:nth-of-type(3) {
  margin-left: 5em;
  margin-right: 5em;
}

.shopboxes {
width: 20%;  /*changing  45%*/
height: 50%;
display: inline-block;
}

.shopboxes h4 {
  margin-top: 0.5em;
}

.shopboxes img {
width: 100%;
height: 12.5em;  /*changing from 21.5, 15.5%*/
display: inline-block;
}

/*  start boxes for logos*/

.shopboxeslogo:nth-of-type(2) {
  margin-left: 5em;
}

.shopboxeslogo {
width: 45%;
height: 50%;  /*height 50%*/
text-align: center;
display: inline-block;
}


.shopboxeslogo img{
width: 100%;
height: auto; /*height 15.5em*/
display: inline-block;


}

#ebaylogo {

padding:0em 7em 0em 7em;
text-align: center;
}

#craigslistlogo img {
width: auto;
height: 11em;  /*height 15.5em*/
text-align: center;

display: inline-block;
}

/*end boxes for logos*/

.shopboxesinfo h3 {
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
.shopboxesinfo img {
  text-align: center;
  margin-top: 0.2em;
}

.shopboxesinfo:nth-of-type(2) {
  margin-left: 5em;
}

.shopboxesinfo {
width: 45%;
height: 50%;
display: inline-block;
}

.shopboxesinfo img {
width: 100%;
height: 15.5em;
display: inline-block;
}

/* Shop Ends*/

#wrapper {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  position: relative; }

/* For when the screen is between 586 and 870px, this should be changed at a later date.
   It's not the best range. */
@media only screen and (min-width: 586px) and (max-width: 870px) {
  .iam {
    height: 7em;
    width: 10em;
    display: inline-block;
    font-size: 0.7em;
  }

  .newsboxes:nth-of-type(2) {
    margin-left: 0;
  }

  .newsboxes {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 1em;
  }

  ul.topnav li {
    display: none; }
  
  ul.topnav li.icon {
    text-align: center;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
  }
  
  ul.topnav li.icon > a {
    width: 100%;
  }

  ul.topnav {
    width: 100%;
    margin: 0;
  }

  ul.topnav.responsive li.icon {
    float: right;
    width: 100%;
    display: block;
  }
  ul.topnav.responsive li.icon > a {
    float: right;
    color: white;
  }

  ul.topnav.responsive li {
    float: none;
    display: block;
  }
  ul.topnav.responsive li a {
    display: block;
    width: 100%;
    text-align: center; 
    float: left;
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }
  nav.navigation-bar {
    padding: 0;
    margin: 0;
  }

  .announcements-paragraph {
    width: 100%;
  }

  .announcements-paragraph h1, .newsgroup h1 {
    padding-bottom: 5%;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: .16em;
  }

  .announcements-paragraph > p {
    font-size: 1.5em;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 200;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2.5em;
  }

  .community h1 {
    font-size: 0.9em;
  }

  .communityboxes {
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    vertical-align: top;
    color: white;
  }

  .communityboxes:nth-child(2n) {
    margin-left: 0;
  }

  .communityboxes img {
    width: 100%;
    height: 18em;
  }

  .community > p {
    margin: 0.5em auto;
    color: white;
    width: 80%;
    text-align: center;
  }

  .footer-list {
    text-align: left; 
  }

  .social-media-bubble {
    margin-top: 1em;
    text-align: left;
  }

}

/* When screen is 1000px or more */
@media screen and (min-width: 1000px) {
  .iam {
    height: 7em;
    width: 10em;
    display: inline-block;
    font-size: 1.7em;
  }

  .announcements {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url("/static/img/row.jpg");
    background-size: cover;
    position: relative;
    color: white;
  }

  .announcements-paragraph {
    margin: 0 auto;
    width: 50%;
  }

  .announcements-paragraph h1, .newsgroup h1 {
    padding-bottom: 5%;
    font-size: 3.2em;
    font-weight: 200;
    letter-spacing: .16em;
  }

  .announcements-paragraph p {
    font-size: 2em;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 200;
  }

  .announcements-paragraph img {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }


/*Styling for Donation Page*/

  .donateboxes {
    margin: 3em;
    width: 20em;
    height: 20em;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    display: inline-block;
    vertical-align: top;
    padding: 1em;
    border-radius: 50%;

  }

  .donateboxes h3 {
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
    padding-top: .5em;
    color: #fff;
    font-weight: 300;
  }

  .donateboxes p {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3em;
    padding-top: 2em;
    color: #fff;
    font-weight: 200;
  }
  #sponsor_bicycle {
    width: 20em;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/img/bike5.jpg");
    background-size: auto 100%;
  }

  #sponsor_workstation {
    width: 20em;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/img/mechanic.jpeg");
    background-size: 100% 100%;
  }

  #sponsor_mechanic {
    width: 20em;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/img/thankyou.jpg");
    background-size: auto 100%;
  }

  .donations_accepted h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.4em;

  }

  .donations_accepted ul {
    margin-left: 24%;
  }

  .donations_accepted p {

  }

  #btn-donate {
    margin-bottom: 3em;
    margin-top: 3em;
    width: 13em;
    height: 4em;
    border-radius: 1em;
    background-color: #189e56;
    border: none;
    margin-left: 45%;


  }

  #btn-donate a {
    color: #fff;
  }
/*End styling for Donation Page*/
}

/* When screen is 1210px or less, this should be changed too. */
@media screen and (max-width: 1210px) {
  .footer-email-input {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;

  }

  #subscribe {
    width: 100%;
    margin: 0;
  }
}

/* When the screen is less than 430 pixels wide and 300px or greater, apply these stylings.
   Honestly, this range could be changed to something better. */
@media only screen and (min-width: 300px) and (max-width: 430px) {
  .iam {
    height: 7em;
    width: 10em;
    display: inline-block;
    font-size: 0.5em;
  }

  #iamh1 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0.8em;
  }

  .newsboxes {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 1em;
  }

  .newsboxes h4 {
    margin-top: 1.5em;
  }

  .newsboxes p {
    height: 10em;
    font-size: 1.1em;
  }

  .newsboxes img {
    width: 100%;
    height: 11em;
    display: block;
  }

  .newsboxes:nth-of-type(2) {
    margin-left: 0;
  }

  ul.topnav li {
    display: none; }
  
  ul.topnav li.icon {
    text-align: center;
    display: inline-block;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
  }
  
  ul.topnav li.icon > a {
    width: 100%;
  }

  ul.topnav {
    width: 100%;
    margin: 0;
  }

  ul.topnav.responsive li.icon {
    float: right;
    width: 100%;
    display: block;
  }
  ul.topnav.responsive li.icon > a {
    float: right;
    color: white;
  }

  ul.topnav.responsive li {
    float: none;
    display: block;
  }
  ul.topnav.responsive li a {
    display: block;
    width: 100%;
    text-align: center; 
    float: left;
    color: white;
    background: rgba(0, 0, 0, 0.6);
  }

  .announcements-paragraph {
    width: 100%;
  }

  .announcements-paragraph h1, .newsgroup h1 {
    padding-bottom: 5%;
    font-size: 1.4em;
    font-weight: 200;
    letter-spacing: .16em;
  }

  .announcements-paragraph > p {
    font-size: 1.5em;
    text-align: justify;
    text-transform: uppercase;
    font-weight: 200;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2.5em;
  }

  .community h1 {
    font-size: 0.9em;
  }

  .communityboxes {
    width: 100%;
    height: 100%;
    display: block;
    text-align: left;
    vertical-align: top;
    color: white;
  }

  .communityboxes:nth-child(2n) {
    margin-left: 0;
  }

  .communityboxes img {
    width: 100%;
    height: 18em;
  }

  .community > p {
    margin: 0.5em auto;
    color: white;
    width: 80%;
    text-align: center;
  }

  .footer-list {
    text-align: left; 
  }

  .social-media-bubble {
    margin-top: 1em;
    text-align: left;
  }

}

