@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,300,300italic,900italic');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  overflow: auto; 
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

ul.topnav li.icon {
  display: none; }

ul.topnav li {
  float: left; 
}

ul.topnav li a {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.825em;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.3s; 
}

ul.topnav li a:link, ul.topnav li a:visited, ul.topnav li a:hover, ul.topnav li a:active {
  text-decoration: none;
  color: white; 
}

.footer-links-wrapper {
  text-align: right; 
}

.social-media-bubble {
  margin-bottom: 1em;
  margin-right: -0.3em; 
}

.social-media-bubble .social-media-icons {
  margin: 0 0.3em;
  width: 3em;
  height: 3em;
  display: inline-block !important; 
  margin-right: -0.3em; }
  
.social-media-bubble .social-media-icons {
  margin: 0 0.3em;
  width: 3em;
  height: 3em;
  display: inline-block !important; 
}

.social-media-icons:hover {
  transform: rotate(360deg);
}

.rotate {
  transition: all 0.5s ease-in-out;
}

.rotate:hover {
  transition: all 0.8s ease-in-out;
}

.navigation-bar {
  width: 100%;
  height: 50px;
  padding-right: 2em;
  background: rgba(255, 255, 255, 0.0);
  position: fixed;
  z-index: 9999;
}

.navigation-bar.solidify {
  background: rgba(255, 255, 255, 0.6);
}

.logo {
width: 150px;
height: 150px;
}

.iam {
  height: 7em;
  width: 10em;
  display: inline-block;
  font-size: 1.8em;
}

#iamh1 {
  color: #000035; 
  padding-top: 10%;
  font-size: 2.3em;
  margin-top: 0;
  margin-bottom: 0.8em;
}

.iam a {
  text-decoration: none;
  color: #000035; 
}

.iam:not(:first-of-type) {
  border-left: 2px solid #000035;
}

#iamgroup {
  height: 10%;
  width: 100%;
  text-align: center;
  display: block;
  padding-bottom: 10%
}

.iamicons {
  margin-top: 10px;
}

.clear {
  clear: both; 
}

.row {
  width: 100%;
  margin: 0 auto; 
}

.container-fluid {
  padding: 0;
  min-height: 100%; 
}

.bike-image {
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  background: linear-gradient(rgba(0, 158, 73, 0.85), rgba(0, 158, 73, 0.85)), url("/static/img/yellow_bike.png") center center no-repeat;
  background-size: cover;
  position: relative;
}

.announcements {
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  background: linear-gradient(rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.90)), url("/static/img/row.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.announcements-paragraph {
  margin: auto;
  width: 50%;
}

.announcements-paragraph h1, #newsgroup h1 {
  margin-left: auto;
  padding-bottom: 5%;
  font-size: 4em;
  font-weight: 200;
  letter-spacing: .16em;
}

.announcements-paragraph p {
  font-size: 35px;
  text-align: justify;
  text-transform: uppercase;
  font-weight: 200;
}

#newsgroup {
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding-bottom: 10%
}

.newsboxes {
width: 400px;
height: 400px;
display: inline-block;
}

.newsboxes img {
width: 400px;
height: 300px;
display: inline-block;
}

.footer-email-input {
  width: 88%;
  display: inline-block;
  margin-right: 0.40em;
}

header h3 {
  margin: 0;
  color: white;
  margin-top: 1em;
  text-align: center;
}

header p {
  width: 60%;
  color: white;
  font-size: 1.1em;
  margin: 1em auto;
  padding-bottom: 2em;
  text-align: justify;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 4.5em solid transparent;
  border-right: 4.5em solid transparent;
  border-bottom: 5em solid white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#wrapper {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  position: relative; }

#footer {
  position: relative;
  clear: both;
  width: 100%;
  height: 100%;
  color: white;
  padding: 2.5em;
  border-top: 2px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/static/img/handlebars.jpg") center center no-repeat;
  background-size: cover; }

  #subscribe {
    display: block;
    float: none;
    padding: 1em;
    border-radius: 1em;
    width: 60%;
    margin: 0 auto;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  }

.footer-list {
  list-style-type: none;
  padding: 0;
  text-align: right; 
}

.footer-list li.footer-links {
  line-height: 2em; }

.footer-list li.footer-links a {
  color: white; }

.footer-list li.footer-links a:link, .footer-list li.footer-links a:visited, .footer-list li.footer-links a:hover, .footer-list li.footer-links a:active {
  text-decoration: none; }


/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). 
   Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width: 680px) {
  ul.topnav li {
    display: none; }
  ul.topnav li.icon {
    float: right;
    display: inline-block; } }

/* The "responsive" class is added to the topnav with AngularJS when the user clicks on the icon. 
   This class makes the topnav look good on small screens */
@media screen and (max-width: 680px) {
  ul.topnav.responsive {
    position: relative; }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0; }
  ul.topnav.responsive li {
    float: none;
    display: block; }
  ul.topnav.responsive li a {
    display: block;
    text-align: left; } 
  .logo {
    margin: 0 auto;
    display: block;
  }

}

/* When screen is 1032px or less */
@media screen and (max-width: 1032px) {
  .iam {
    width: 50%;
    display: inline-block;
    border: none;
  }
}

/* When screen is 1210px or less */
@media screen and (max-width: 1210px) {
  .footer-email-input {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;

  }

  #subscribe {
    width: 100%;
    margin: 0;
  }
}