<div class="col-sm-offset-9 new-content-btn">
  <button type="button" class="btn btn-primary">Add New Content</button>
</div>
<input type='hidden' name='section' ng-init="section=1" ng-model='section' />
<uib-accordion close-others="oneAtATime">
  <uib-accordion-group is-open="true">
    <uib-accordion-heading>
      1/2/15 - Example Heading <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
    </uib-accordion-heading>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="input form-control" ng-model='title'>
    </div>

    <text-angular ng-model="htmlVariable"></text-angular>

      <div class="btn-container row">
        <div class="col-sm-7 col-sm-offset-1">
          <button type="button" class="btn btn-danger btn-lg" ng-click='remove()'>Remove</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <button type="button" class="btn btn-primary btn-lg" ng-click='save(title, htmlVariable, section)'>Save</button>
        </div>
    </div>



  </uib-accordion-group>

  <uib-accordion-group>
    <uib-accordion-heading>
      header 1 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
    </uib-accordion-heading>

  </uib-accordion-group>

  </uib-accordion>
