<div> 
  <div class="modal-content">
    <div class="modal-header">
        <h4>Add News Content</h4>
    </div>
    <div class="modal-body">
      <div class="btn-container row">
        <div class="col-sm-7 col-sm-offset-1">
          <button type="button" class="btn btn-primary" ng-click='cancel()'>Cancel</button>
        </div>
        <div class="col-sm-1 col-sm-offset-1">
          <button type="button" class="btn btn-danger" ng-click='ok()'>Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
