<div class="container">
<div class="shop-wrapper">
	<div class="shopgroup">
		<h1>SHOP NOW</h1>
		<h2>Seek. Find. Enjoy.</h2>
		<h3>"Grab those handlebars and LIVE life to the max. An adventure begins every time you get on the bike and out the door. GO!"</h3>
		<div class="shopboxes">
			<img src="/static/img/bike1a.jpg">
			<h4>Yellow Bike</h4>
			<h5>Color: Yellow</h5>
			<h5>Type: Bicycle</h5>
			<h5>Frame Size: 13"-14"</h5>
			<h5>$ 200.00</h5>			
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1b.jpg">
			<h4>Raleigh Lightweight</h4>
			<h5>Color: Purple</h5>
			<h5>Type: Road bike</h5>
			<h5>Frame Size: 49cm-50cm</h5>
			<h5>$ 300.00</h5>	
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1c.jpg">
			<h4>Mongoose</h4>
			<h5>Color: Navy Blue</h5>
			<h5>Type: Mountain bike</h5>
			<h5>Frame Size: 13"-14"</h5>
			<h5>$ 100.00</h5>
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1d.jpg">
			<h4>Repco Challenger</h4>
			<h5>Color: Blue and Orange</h5>
			<h5>Type: Mountain bike</h5>
			<h5>Frame Size: 14"-17"</h5>
			<h5>$ 110.00</h5>		
		</div>
	</div>
	<div class="shopgroup">
		<div class="shopboxes">
			<img src="/static/img/bike1e.jpg">
			<h4>Raleigh Lightweight</h4>
			<h5>Color: Purple</h5>
			<h5>Type: Road bike</h5>
			<h5>Frame Size: 54cm-55cm</h5>
			<h5>$ 300.00</h5>		
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1f.jpg">
			<h4>Morrison Freeway</h4>
			<h5>Color: Blue</h5>
			<h5>Type: Roadbike</h5>
			<h5>Frame Size: 56cm-58cm</h5>
			<h5>$ 170.00</h5>		
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1g.jpg">
			<h4>Abeni 10 Speed</h4>
			<h5>Color: Yellow</h5>
			<h5>Type: Roadbike</h5>
			<h5>Frame Size: 54cm-55cm</h5>
			<h5>$ 210.00</h5>		
		</div>
		<div class="shopboxes">
			<img src="/static/img/bike1h.jpg">
			<h4>Funky Bike</h4>
			<h5>Color: Zebra Stripe</h5>
			<h5>Type: Roadbike</h5>
			<h5>Frame Size: 58cm-60cm</h5>
			<h5>$ 300.00</h5>			
		</div>
	</div>
	<div class="shopgroup">
		<h3>For more of our amazing bikes please visit eBay and craigslist!</h3>
		<h4>All the bikes you see on eBay and craigslist are displayed in our shop. 
			Come down today for a test ride!</h4>

		<div class="shopboxeslogo" id= "ebaylogo">
			<a href="http://members.ebay.com/ws/eBayISAPI.dll?ViewUserPage&amp;userid=goodkarmabikes" target="_blank"><img src="/static/img/ebay_logo.png"></a>
				
		</div>
		<div class="shopboxeslogo" id= "craigslistlogo">
			<a href="http://sfbay.craigslist.org/search/sss?query=good+karma+bikes" target="_blank">
			<img src="/static/img/craigslist_logo.png">

		</a>
		</div>

		<h4>GKB is a full-service bike shop open to the public. </h4>
		<h4>We offer a wide variety of bicycles, parts and accessories- NEW and USED! </h4>

		<h4>Our service department is experienced in repairing all types of bikes and we are well stocked with new and used parts.</h4>

	</div>	


	<div class="shopgroup">
		<div class="shopboxesinfo">
			<img src="/static/img/rowofgreenbikes.jpeg">
			<h3>How We Get Our Bikes</h3>
			<p>We receive donated bikes from shops, manufacturers, universities, public offices, and individuals just like you! We refurbish these bikes for resale and granting. For each bicycle sold, one is granted to someone in need.  
			</p>
			<br>		
		</div>
		<div class="shopboxesinfo">
			<img src="/static/img/pricebike.jpg">
			<h3>How We Price</h3>
			<p>GKB offers prices similar to those you will find online and in other second-hand bike shops, but we offer something they don’t… our low price includes all parts and labor needed to refurbish your bicycle.</p>
			<p>Visit <a target="_blank" href="https://www.facebook.com/GoodKarmaBikes">facebook&nbsp;</a> and <a target="_blank" href="https://twitter.com/goodkarmabikes">twitter</a> to see sales and specials!
			</p>		
		</div>
			<a href="http://www.yelp.com/biz/good-karma-bikes-san-jose-2" target="_blank"><img src="/static/img/yelp_logo.png" height="70" width="110"></a>
			<h4 style="color:#a82e2e;" >Did you enjoy your shopping experience with us? Share it on Yelp!</h4>
	</div>	
	<div class="shopgroup">
	<div class="shopboxesinfo" id ="warranty">
		<a href="#/gkbwarranty"><h1>GKB Warranty &#x25B9;</h1></a>
	</div>
	<div class="shopboxesinfo" id ="warranty">
		<a href="#/gkbpolicy"><h1>GKB Return Policy &#x25B9;</h1></a>
	</div>
	</div>	
</div>

</div>
<div class="classes">
<div class="shopgroup">
	<h1>CLASSES</h1>
	<div class="parktool">
		<h2>Welcome to Park Tool school</h2>
		<img src="/static/img/park_tool_school.png">
	</div>
<!-- 	<div class="shopgroup" style="background-color:grey;">
	</div> -->
</div>
</div>









