/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


/*
//= require please-wait
//= require text-angular
*= require font-awesome
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,300,300italic,900italic');
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  overflow: auto;
  background-color: #FEFDFB;
}

/*Navbar!!!!!!!!! - Stephen*/
.navbar{
  width: 100%;
  height: 50px;
  border-bottom: 51px solid green;
  border-color: green;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    color: white;
    background-color: green;
    /*border-color: rgb(24, 158, 86);*/
    border-radius: 0px;
    border: 1px;

}
.navbar-default .navbar-brand {
  color: white;
  font-family: timesnewroman;
  font-size: 23px;

}

.navbar-default .navbar-brand:hover {
  color: white;
  font-family: timesnewroman;
  font-size: 23px;

}

.navbar-default .navbar-nav>li>a {
  color: white;

}

.navbar-default .navbar-toggle {
    border-color: lightgreen;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #169b4d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: green;
}

.navbar-header {
  background-color: #169b4d;
}

/*Navbar!!!!!!!!! - Stephen*/

/*Logos!!!!!!!!! - Stephen*/
#minilogo{
  height: 50px;
  padding-right: 3px;
}

#minilogo:hover {
  cursor:pointer;
}

#login_logo{
  width: 55%;
  height: 55%;
  box-shadow: 2px 2px 4px 1px;
}

#annsubmit {
  margin-top:1em;
}

/*Logos!!!!!!!!! - Stephen*/


/*Panels!!!!!! -Stephen*/

.panel-default{
  border-width: 2px;
  border-color: lightslategrey;

}

input.ng-invalid{
  background-color: lightred;
  border: 1px solid red;
}
input.ng-valid{
  /*border: 1px solid green;*/
}
/*Panels!!!!!! -Stephen*/

/*Buttons !!!!!! -Stephen*/
.btn {
  border-width: 2px;
  /*border-color: rgb(24, 158, 86);*/
}
.btn-default{
  border: none;
}
.btn-danger{
  border: none;
}
.btn-success{
  background-color: #52a552;
}

.btn-success:active:focus, .btn-success:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline-color: #5cb85c;
}
.btn:active:focus, .btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline-color: #5cb85c;
}

/*Buttons !!!!!! -Stephen*/


.row {
  width: 100%;
  margin: 0 auto;
  border: 1px;
}

ul.topnav {
  list-style-type: none;
  margin: 0 1em;
  padding: 0;
  float: right;
}

ul.topnav li.icon {
  display: none; }

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: inline-block;
  font-size: 1.2em;
  padding: 0.825em;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.3s;
}

ul.topnav li a:link, ul.topnav li a:visited, ul.topnav li a:hover, ul.topnav li a:active {
  text-decoration: none;
  color: white;
}
.navigation-bar {
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.0);
  position: fixed;
  z-index: 9999;
}
.navbar-toggle{
  background: rgba(255, 255, 255, 0.0);
}

.navbar-collapse{
  background-color: #169b4d;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
/*LOGIN!!!!!!! -Stephen*/

.login{
  border-color: rgb(24, 158, 86);
  border-radius: 0px;
  border: 1px;
}

.login-container {
  min-width: 90em;
}

.login h2 {
  font-size:3em;
  text-align:center;
  margin-bottom: 30px;
  margin-top:0px;
}

.login h2, .login label {
  text-shadow: .5px .5px grey;
  color:white;
}

.login-btn-group {
  margin-top: 50px;
  text-align: center;
}

.login-btn-group button, .login-btn-group input[type="submit"] {
  min-width:10em;
}

.form-group {
  text-align: left;
}

.jumbotron {
  background-color: #26A349;
  box-shadow: 10px 10px 5px 3px #888888;

}
.login input:focus {
    /*background-color: #eafeea;*/
}

.login input:active:focus, .login input:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline-color: #5cb85c;
}

.help-block {
  color: white;
}

/*LOGIN!!!!!!! -Stephen*/

.toolbar {
  border-bottom: 1px solid black;
}

.input {
  width: 20em;
}

.btn-container {
  overflow: hidden;
  padding-top: 1em;
}

.btn-lg {
  min-width: 6em;
}

.btn-primary{

}

.new-content-btn {
  margin-bottom: 1em;
}

#thumb {
    width: 5em;
    height: 5em;
    float: none;
    position: relative;
    top: 0.5em;
    margin-bottom:0.5em;
}

/*toast for login*/
.ng-toast__list {
  list-style: none;
  padding:0px 2em 0px 2em;
}

/*end toast*/
.row-centered {
  text-align:center;
}
/*Pagination*/
.pagination {
  position: absolute;
  bottom: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #52a552;
  border-color: rgb(24, 158, 86);
}
/*end pagination*/

/*Modal*/
.modal-header {
  background-color:#376e37;
  color:white;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/*end modal*/

/*Change password form*/
.change-password-form button{
  margin-top: 20px;
  margin-left: 140px;
}
/*end change password*/
>>>>>>> development-admin
