/*Place all the styles related to the Contents controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/*/

#thumb {
    width: 5em;
    height: 5em;
    float: none;
    position: relative;
    top: 0.5em;
    margin-bottom:0.5em;
}