<div class="container vertical-center">
  <div class="jumbotron" id="login-box">
    
    <div class="container">
      <h2>Login</h2>
      <form name="form" role="form">
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" ng-model="user.email" class="form-control" />
              <span  class="help-block">Username is required</span>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" ng-model="user.password"/>
              <span class="help-block">Password is required</span>
          </div>
          <div class="form-actions">
            <button ng-click="login()" class="btn btn-primary">Login</button>
          </div>
      </form>
      <div class="forgot-password">
        <button ng-click='open()'>Forgot Password</button>
      </div>

    </div>  
  </div>
</div>
