<div class="container">
<div class="shop-wrapper" id="gkbpolicy">
	<h3>GKB Return Policy</h3>
	<img src="/static/img/hr_leafy_Ardy.jpg">
	<p>Our goal is for you to be completely satisfied with your purchase from Good Karma Bikes. If you receive an item you are dissatisfied with you may return it for a refund, exchange, or store credit based on the following guidelines.</p>
	<h5>Forms of payment:</h5>
	<p>We accept cash. We also accept checks, credit cards, debit cards and traveler's checks with proper ID.<br> There is a $250 limit on purchases made with a check. <br> All returned checks will incur a $30 processing fee.</p>
	<h5>Your original receipt is required for all returns and exchanges.</h5>
	<p>All returns and exchanges must be in original condition and include all accessories, manuals, and original packing materials.</p>
	<h5>30-day return period for refunds:</h5>
	<p>We accept returns for a full refund for up to 30 days from the date of the original purchase. Please review the exceptions below.</p>
	<ol>
		<li>90-day return period for exchanges or store credit:
 	We accept returns for an exchange or store credit for up to 90 days from the date of the original purchase.</li>
		<li>No returns after 90 days.</li>
	</ol>
	<h5>Restocking fee:</h5>
	<p>All returned bicycles will incur a 10% restocking fee.</p>
	<h5>Refund method:</h5>
	<p>Refunds for cash transactions will be made in the form of a company check. Refunds for check transactions will be made in the form of a company check after a 21 day waiting period. Refunds for credit card transactions and debit cards will be in the same form as the original purchase.</p>
	<h5>Layaways:</h5>
	<p> All layaways require a 20% non-refundable deposit. <br>All layaways must be closed out within 90 days.</p>
	<h5>Special orders:</h5>
	<p>All special orders require a 50% non-refundable deposit. <br> All special orders placed during a sale event must be paid in full at the time of the sale in order to receive the sale pricing. <br> All special order sales are final. <br> All special orders must be picked up within 90 days.</p>
	<h5>GKB reserves the right to deny any return.</h5>
</div>
</div>