<div class="container">
<div class="shop-wrapper" id="gkbwarranty">
	<h3>GKB  Warranty</h3>
	<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/hr_leafy_Ardy.jpg">
	<h5 style="font-weight:bold;">Thank you for your bicycle purchase with Good Karma Bikes. You have purchased a used bicycle that has been refurbished with a 30+ point inspection, tune-up, and any necessary parts to insure great operation.</h5>
	<h5>* With GKB’s warranty, you can rest assured you are getting a safe, reliable used bicycle.</h5>
	<h4>90 Day Limited Used Bicycle Warranty*</h4>
	<p>Your bicycle may include new and/or used components. When used components are chosen, it is  because they are working well and should last a long time. For a period of 90 days after the  purchase of your used bicycle, we offer a limited mechanical warranty.</p>
	<p>* This warranty DOES  NOT cover normal wear and tear and is VOID if damages incurred are the result of misuse, improper handling or storage, or accidents and crashes. This includes:</p>
	<ul>
		<li>Cracked or bent frame</li>
		<li>Flat tires due to puncture or pinched tubes</li>
		<li>Bent wheels</li>
		<li>Worn down tire treads</li>
		<li>Worn brake pads</li>
		<li>Worn rim braking surfaces</li>
	</ul>
	<ul>

		<li>Broken spokes</li>
		<li>Worn grips</li>
		<li>Ripped and separating saddle materials</li>
		<li>Stretched chains</li>
		<li>Worn out cassettes, freewheels and chain-rings</li>
		<li>Rusty cables and components</li>
	</ul>
	<p>*Warranty does not include “as is” purchases.</p>
	<p style="font-weight:bold;">We encourage riders to regularly schedule bicycle maintenance to ensure reliability.</p>
 	<h4>30 Day Limited Service Department Warranty</h4>
 	<p>All bicycles serviced at Good Karma Bikes come with a 30-day limited service warranty. Any work or service on your bike not provided by Good Karma Bikes VOIDS this warranty.</p>
 	<p style="font-weight:bold;">All bicycles purchased for $250 or more at Good Karma Bikes include a free tune-up ($80 value) within six (6) months of purchase. You must have your receipt to claim this service.</p>
 
	<p style="font-style:italic; margin-bottom: 3em" >Warranties are not transferable under any circumstance. Your original receipt must accompany the bicycle to honor the warranty. GKB may refuse service for failure to provide receipt. The decision as to whether or not a particular item is covered by the warranty is at the sole discretion of GKB management.
	For a period beyond warranty dates, you may bring your bicycle to our free repair clinics.
	</p>
</div>
</div>