<div class="mission-wrapper">
	<h3 class="tagline">Transportation for Transformation</h3>
	<div class="mission-text">
		<h3>Mission Statement</h3>
		<p>Good Karma Bikes is a nonprofit social enterprise transforming the lives of former foster and other disadvantaged youth in Silicon Valley by providing the means for secondary education, job training, and life skills though the sale of safe, reliable refurbished bicycles to local community members.</p>
	</div>
	<h1 class="text-center" id="iamh1">LEARN HOW TO...</h1>
	<div id="iamgroup">
		<div class="iam" class="col-md-3">
			<a href="#/donations">
				<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/icon-donate.png">
				<span>DONATE</span>
			</a>
		</div>
		<div class="iam" class="col-md-3">
			<a href="#/shop">
				<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/icon-bike.png">
				<span>SHOP</span>
			</a>
		</div>
		<div class="iam" class="col-md-3">
			<a href="#/volunteers">
				<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/icon-volunteer.png">
				<span>VOLUNTEER</span>
			</a>
		</div>
		<div class="iam" class="col-md-3">
			<a href="#/community">
				<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/icon-participate.png">
				<span>PARTICIPATE</span>
			</a>
		</div>
	</div>
</div>
<div class="community">
	<h1>COMMUNITY PROGRAMS</h1>
	<h4>1:1</h4>
	<h4>For each bike sold, we provide one bike or service for free.</h4>
	<h3>Good Karma Bikes rehabilitates bicycles destined for landfill and transforms them into reliable and clean transportation. These same bicycles set the foundation for our community programming include:</h3>

	<div class="communitycontent">
		<div class="communityboxes">
			<div class="img-community" id="transport">
				<h3>Transportation for Transformation</h3>
			</div>
				<p>We reinvest the money we make in our full-service bike shop into our programs that support our community.
				</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="work4bikes">
				<h3>Work-4-Bike</h3>
			</div>
			<p>Targeted toward low-income individuals who cannot afford a bicycle, this provide provides a free bicycle in exchange for six volunteer hours.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="sponsor-bike">
				<h3>Sponsor-a-Bike</h3>
			</div>
			<p>For $50, community members can sponsor a bicycle in our work-4-program.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="saturday-clinic">
				<h3>Saturday Clinic</h3>
			</div>
			<p>A free, weekly bicycle repair clinic led by a group of dedicated volunteers, in which unsafe bicycles are repaired for community members.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="tools">
				<h3>Park Tool School</h3>
			</div>
			<p>A one-month certification course in which participants learn cycling and bicycle mechanics.
			</p>
		</div>
		<div class="communityboxes">
			<div class="img-community" id="karmakids">
				<h3>Good Karma Kids</h3>
			</div>
			<p>Targeted toward at-risk youth, this program pairs youth with adult volunteers to learn cycling and bicycle mechanics, in addition to learning the value of philanthropy. 
			</p>
		</div>
	</div>
</div>