<div class="container">
	<br><br>
	<table style="margin: 0 auto;">
		<tr>
			<center>
				<h1>Keep watching here. New volunteer opportunities coming in <span>{{ month }}</span>May!</h1>
				<h3><em>Experienced mechanics welcome Tuesday - Saturday! See below</em></h3>
			</center>
		</tr>
		<tr>
			<td><img id="vol1" src="https://s3-us-west-1.amazonaws.com/gkbimages//client/volunteer0.jpg" alt="Volunteers" style="width:90%;height:90%;"></td>
			<td><img id="vol2" src="https://s3-us-west-1.amazonaws.com/gkbimages//client/volunteer01.jpg" alt="Volunteers" style="width:90%;height:90%;"></td>
			<td><img id="vol3" src="https://s3-us-west-1.amazonaws.com/gkbimages//client/volunteer1.jpg" alt="Volunteers" style="width:90%;height:90%;"></td>
		</tr>
	</table>
		
	<div>
		<d-expand-collapse>
			<div class="exp_col_title"><a href="javascript:void(0)" ng-model="collapsed" ng-click="collapsed=!collapsed">Experienced Bike Mechanic</a></div>
			<div class="voldetails" ng-show="collapsed">
			We are seeking caring, productive and responsible volunteer mechanics who already have comprehensive knowledge of bike maintenance and repair to assist our staff with bike repair and production.<br>
			<br>
			Additionally, you may act as a mentor to our CO-OP mechanics in training.<br>
			<br>
			Experienced children under 14 years accepted, with an adult present.<br>
			</div>		
		</d-expand-collapse>

		<d-expand-collapse>
			<div class="exp_col_title">
				<a href="javascript:void(0)" ng-model="collapse" ng-click="collapse=!collapse">Free Repair Clinic Mechanic</a>
			</div>
			<div class="voldetails" ng-show="collapse">
			Duties include bike repair, client check in, writing service tags, and loading/unloading the van. This is an outdoor location, so dress accordingly.<br>
			<br>
			How you can help:<br>
			9am Meet at Good Karma Bikes to load van<br>
			10am Meet at Clinic location to unload van and work<br>
			2pm Meet at Good Karma Bikes to unload van<br>
			</div>
		</d-expand-collapse>
	</div>
	<div id="volgistics" style="align: center;">
		<a href="http://portal.govoluntr.com/328">
			<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/volgistics_logo.png" alt="Link to Volgistics" class="volgistics">
		</a>
		<a href="mailto:volunteer@goodkarmabikes.org">
			<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/SpecialRequest.jpg" alt="Special request Email link" style="width:auto;max-width:100%" class="volgistics">
		</a>
		<a href="#/donations">
			<img src="https://s3-us-west-1.amazonaws.com/gkbimages//client/Donate.jpg" alt="Link to Donate" style="width:121;max-width:100%" class="volgistics">
		</a>
	</div>
</div>